# OAuth Configuration
OAUTH_BASE_URL=https://chat.n-peloton.fr
OAUTH_CLIENT_ID=XXXX
OAUTH_CLIENT_SECRET=YYYY

# HTTP Port Configuration
# Traefik will expose the application on this port
HTTP_PORT=8090

# CORS Configuration (for production with your domain)
CORS_ORIGINS=https://yourdomain.com,http://localhost:8090

QUARKUS_MONGODB_CONNECTION_STRING=mongodb://mongodb:27017/trouvaille

MONGO_HOST_DATA=./data/mongodb
